<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Food Blog </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Hey everyone! This is a food blog website where you can read about recipies as well as post about recipies.</p>
    </div>
  </div>